button {
  padding: 8px 15px;
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--primary-font);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--yellow-color);
  color: var(--green-color);
}

button:active {
  background-color: var(--blue-color);
  color: var(--yellow-color);
}
