#sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 100vh;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
}

#sidebar > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

#sidebar > div:not([id='spinner']) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
}
