:root {
  --font-color: #05131d;
  --white-color: #ffffff;
  --red-color: #c91a09;
  --blue-color: #0055bf;
  --yellow-color: #f2cd37;
  --green-color: #00a550;

  --primary-font: 'Anton', sans-serif;
  --secondary-font: 'Roboto Condensed', sans-serif;
  --accent-font: 'Bangers', cursive;
  --special-font: 'Press Start 2P', cursive;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}  */
